# Node modules
node_modules/

# Build output
dist/
dev-dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# Optional editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*.local

# Service worker cache fallback
workbox-*.js
sw.js